<section id="main" class="round">
<h1>Список услуг</h1>

<table>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= link_to service.name , service %></td>
    <td><%= service.description %></td>
  </tr>
<% end %>
</table>
</section>