<section id="main" class="round">
<p id="notice"><%= notice %></p>

<p>
  <b>Наименование:</b>
  <%= @service.name %>
</p>

<p>
  <b>Описание:</b>
  <%= @service.description %>
</p>


<%= link_to 'Back', services_path %>
</section>