<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>


<%= link_to 'Edit', edit_administration_customer_path(@customer) %> |
<%= link_to 'Back', administration_customers_path %>
