<h4>Listing contacts</h4>
<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th>Contact Type</th>
        <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <% @company.contacts.each do |contact| %>  
    <tr>
      <td><%= contact.type %></td>
      <td><%= contact.value %></td>
    </tr>
    <%end%>
  </tbody>
</table>