<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @model.name %>
</p>


<%= link_to 'Edit', edit_administration_brand_model_path(@brand, @model) %> |
<%= link_to 'Back', administration_brand_models_path(@brand) %>