<h1>Editing project</h1>

<%= render 'form' %>

<%= link_to 'Show', :controller => administration_projects_path, :action => 'show', :id => @project.id %> |
<%= link_to 'Back', administration_projects_path %>