<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'css3_3d', :media => 'screen' %>
<%end%>
<section id="main" class="round"><h1>Список проектов</h1>
<ul id="grid" class="group">    
<% @projects.each do |project| %>
  <li>
    <div class="details"><%= project.description %>
      <%= link_to 'Детали', :controller => administration_projects_path, :action => 'show', :id => project.id, class: 'more' %>
    </div>
    <%= link_to image_tag(project.project_photos.find_by_default(true).image.thumb('200x200#').url) , project, class: 'more' %>
  </li>
<% end %>
</section>