<section id="main" class="round">
<h1>Контакты</h1>
<table>
<tr>
    <td>Тип контакта</td>
    <td>Контакт</td> 
  </tr>
<% @contacts.each do |contact| %>
  
  <tr>
  <td><%= contact.type %></td>
  <td><%= contact.value %></td>
  </tr>
<% end %>
</table>
</section>