<h1>Listing projects</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Finish date</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.description %></td>
    <td><%= project.finish_date %></td>
  </tr>
<% end %>
</table>
