<section id="main" class="round"><h1>Список проектов</h1>
<ul id="grid" class="group">    
<% @projects.each do |project| %>
  <li>
    <div class="details"><%= project.description %>
      <%= link_to 'Детали', project, class: 'more' %>
    </div>
    <%= link_to image_tag(project.project_photos.find_by_default(true).image.thumb('200x200#').url) , project, class: 'more' %>
  </li>
<% end %>
</section>