<h1>Editing action_registration</h1>

<%= render 'form' %>

<%= link_to 'Show', :controller => administration_action_registrations_path, :action => 'show', :id => @action_registration.id  %> |
<%= link_to 'Back', administration_action_registrations_path %>