// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#projects {
	width: 100%;
	height: 150px;

	background-color: orange;
}

#container {
	overflow: hidden;
	width: 100%;
	height: 100%;

	background-color: red;
}

#contacts {	
	overflow: hidden;
	width: 50%;
	height: auto;

	background-color: blue;
}

#services {
	float: right;
	width: 100px;
	height: 100px;

	background-color: green;
}