<h1>Editing company</h1>

<%= render 'form' %>

<%= link_to 'Show', :controller => administration_companies_path, :action => 'show', :id => @company.id %> |
<%= link_to 'Back', :controller => administration_companies_path, :action => 'show', :id => @company.id %>
