<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @company.description %>
</p>


<%= link_to 'Edit', :controller => administration_companies_path, :action => 'edit', :id => @company.id %> |
<%= link_to 'Back', :controller => administration_companies_path, :action => 'show', :id => @company.id %>
