<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @company.description %>
</p>


<%= link_to 'Edit', edit_administration_company_path(@company) %> |
<%= link_to 'Back', administration_companies_path %>
