<!DOCTYPE html>
<html>
<head>
  <title>Quattro</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
</div>
<%= yield %>

</body>
</html>
